<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Email template</title>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <div>
      <div>Dear,</div>
      <div>
        <br>
      </div>
      <div>
        👉&nbsp;As desired, you will find your tailor-made specifications below.
      </div>
      <div style="color:#0000ff">&nbsp; &nbsp; &nbsp; <u>
          specifications.pdf
        </u>
      </div>
      <div>
        <div>
          <br>
        </div>
        <div>
          📣&nbsp;These specifications were edited by&nbsp;
          <a href="https://github.com/lienkt" target="_blank" rel="noopener noreferrer"><strong>Lien Kim</strong></a>&nbsp;
        </div>
        <div>
          <br>
        </div>
        <div>
          🎯&nbsp;Our salers support you in your order.
        </div>
        <div>
          <br>
        </div>
        <div>We wish you a nice day.</div>
      </div>
    </div>
  </div>