<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Image pdf template</title>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
        }
        .cover {
            width: 842px;
            height: 595px;
            padding: 0;
            margin: 0;
        }
        .img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    </style>
</head>
<body>
    <div class="cover">
        {{{img}}}
    </div>